<div class="clientComponent">
  <form id="filter">
    <i class="fa fa-search" aria-hidden="true"></i><input  [(ngModel)]="filter" type="text" name="filter"/>
  </form>
  <ul>
    <li (click)="getClientsId(item)"
        *ngFor="let item of clients | filter: filter"
        [attr.data-attribute]="item[0]"
    >
      <img src="{{ item.general.avatar }}" >
      <div class="clientWrapper">
        <div class="clientsName"> {{ item.general.firstName }} {{ item.general.lastName }}</div>
        <div class="clientsJobTittle">{{ item.job.title }}</div>
      </div>
    </li>
  </ul>

  <div class="clientInfoWrapper" *ngIf="getId">
    <div class="clientInfo">Client Info</div>
    <div class="clientMainInfo">
      <img src="{{ getId.general.avatar }}" alt="">
      <div class="clientNameWrapper">
        <div class="clientInfoName"><i class="fa fa-user-circle-o" aria-hidden="true"></i> First Name: <b>{{ getId.general.firstName}}</b> <br/> <i class="fa fa-user-circle" aria-hidden="true"></i> Last Name: <b>{{ getId.general.lastName }}</b></div>
        <div class="clientInfoJob"><i class="fa fa-building-o" aria-hidden="true"></i> Company: <b>{{ getId.job.company }}</b> <br/> <i class="fa fa-briefcase" aria-hidden="true"></i> Position: <b>{{ getId.job.title }}</b></div>
      </div>
    </div>
    <div class="clientInfoContacts"><i class="fa fa-envelope-o" aria-hidden="true"></i> E-mail: <b>{{ getId.contact.email }}</b> <br/> <i class="fa fa-phone" aria-hidden="true"></i> Phone: <b>{{ getId.contact.phone }}</b></div>
    <div class="clientInfoAddress"><i class="fa fa-globe" aria-hidden="true"></i> Country: <b>{{ getId.address.country }}</b><br/> <i class="fa fa-home" aria-hidden="true"></i> City: <b>{{ getId.address.city }}</b><br/> <i class="fa fa-road" aria-hidden="true"></i> Street: <b>{{ getId.address.street }}</b><br/> <i class="fa fa-id-card-o" aria-hidden="true"></i> Post: <b>{{ getId.address.zipCode }}</b></div>
  </div>
</div>
