.clientComponent{display: flex;align-items: flex-start; justify-content: flex-start;}
ul{width: 30%; list-style-type: none; margin:0; background-color: whitesmoke; padding: 5px; border-radius: 5px;position: fixed;overflow-y: auto;height: 100%; margin-top: 30px;}
li{display: flex; align-items: center;justify-content: flex-start; margin-bottom: 10px; background-color: lightgray; border-radius: 5px; padding: 5px; cursor: pointer;}
li img{width: 100px; border-radius: 50%;margin-right: 20px;}
.clientsName{margin-bottom: 5px; font-size: 25px; font-weight: bolder;}
.clientsJobTittle{font-weight: 300; font-size: 20px}
.clientMainInfo{display: inline-flex; align-items: flex-start; justify-content: flex-start;}
.clientNameWrapper{display: flex;flex-direction: column; align-items: flex-start; justify-content: center; margin-left: 10px; margin-top: 5px;}
.clientInfoWrapper{background-color: gainsboro;border-radius: 5px; padding: 10px; margin-left: 30px;}
.clientInfoName{font-size: 25px; font-weight: 200; margin-bottom: 5px;}
.clientInfoJob{font-size: 20px;line-height: 1.4}
.clientInfo{font-size: 26px; font-weight: bolder; text-align: center; margin-bottom: 5px;}
.clientInfoContacts{margin-top: 5px; font-size: 18px;line-height: 1.4; padding-left: 140px;}
.clientInfoAddress{font-size: 18px;line-height: 1.4; padding-left: 140px;}
.fa{color: #555555}
#filter{width: 30%;}
#filter input{margin-left: 5px; width: 93%; outline: none; border-radius: 5px; border: 1px solid gainsboro;padding-left: 5px;}
.clientMainInfo img{border-radius: 50%}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px; }

::-webkit-scrollbar-track {
    background-color: #c4cdc7;
    border-radius: 20px; }

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #555555; }